/* header and nav layout */

@import url("./profile.css");

:root {
  --header-bar-height: 48px;
  --nav-bar-height: calc(var(--nav-height) - var(--header-bar-height));
}

header {
  font-family: var(--heading-font-family);
}

/* Header Bar at top of page */
header .header-bar {
  align-items: center;
  background-color: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  padding: 4px 24px 4px 48px;
  height: var(--header-bar-height);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

/* Language Section */
header .header-bar .language-selector {
  font-weight: 700;
}

header .header-bar .language-selector .language-selector-button {
  display: flex;
  position: relative;
  cursor: pointer;
}

header .header-bar .language-selector .country-name {
  color: #1e1e1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-left: 8px;
  margin-right: 8px;
}

header .header-bar .language-selector .language-icon {
  display: inline-block;
  margin-right: 30px;
}

header .header-bar .language-selector .language-icon::before {
  border-radius: 50%;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
}

header .header-bar .language-selector .country-flag-usa::before {
  background: url("/icons/country-flags/US.svg") no-repeat 50%;
  content: "";
  position: absolute;
}

/* Upload Button */
header .header-bar .header-upload-button {
  color: #1e1e1e;
  cursor: pointer;
  margin-left: auto;
  position: relative;
}

header .header-bar .header-upload-button:hover {
  color: #ed0000;
}

header .header-bar .header-upload-button .upload-icon::before {
  background: url("/icons/upload-icon.svg") no-repeat 50%;
  content: "";
  height: 16px;
  left: -22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

header .header-bar .header-upload-button:hover .upload-icon::before {
  background: url("/icons/upload-icon-red.svg") no-repeat 50%;
}

/* Help Section */
header .header-bar .help-section {
  flex-shrink: 0;
  cursor: pointer;
  margin-left: 55px;
  position: relative;
}

header .header-bar .help-section .help-section-button {
  align-items: center;
  display: inline-flex;
}

header .header-bar .help-section .help-section-button:hover {
  color: #ed0000;
}

header .header-bar .help-section .help-section-button::before {
  background: url("/icons/help-icon.svg") no-repeat 50%;
  content: "";
  height: 16px;
  left: -22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

header .header-bar .help-section .help-section-button:hover::before {
  background: url("/icons/help-icon-red.svg") no-repeat 50%;
}

/* User Button (User Dropdown) */
header .header-bar .my-account {
  flex-shrink: 0;
  font-size: 14px;
  margin-left: 32px;
  position: relative;
}

header .header-bar .my-account .my-account-button {
  align-items: center;
  background: #fff;
  border: 1px solid #6ac9ce;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  line-height: 140%;
  max-height: 40px;
  padding: 6px 16px 6px 6px;
}

header .header-bar .my-account .avatar {
  background-color: #6ac9ce;
  border-radius: 50%;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-right: 4px;
  padding: 4px;
  text-align: center;
}

header .header-bar .my-account-button:hover {
  background: #6ac9ce;
}

header .header-bar .my-account-button:hover .avatar {
  background-color: #fff;
}

header .header-bar .my-account-button.active {
  background: #6ac9ce;
}

header .header-bar .my-account-button.active .avatar {
  background-color: #fff;
}

header .header-bar .my-account .my-account-menu {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
}

header .header-bar .my-account .my-account-menu>ul {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 14px 0 rgb(0 0 0 / 12%);
  font-size: 14px;
  left: 50%;
  list-style-type: none;
  margin: 0;
  min-width: 200px;
  padding: 8px;
  position: absolute;
  top: 5px;
  transform: translateX(-50%);
  z-index: 100;
}

header .header-bar .my-account .my-account-menu>ul>li {
  border-bottom: 1px solid #f0f0f0;
  padding: 8px 4px;
  width: 100%;
}

/* Arrow Icons */
header .header-bar .down-arrow-icon {
  display: flex;
}

header .header-bar .down-arrow-icon::before {
  background: url("/icons/down-arrow-icon.svg") no-repeat 50%;
  content: "";
  display: inline-block;
  height: 20px;
  margin-left: 4px;
  width: 20px;
}

header .header-bar .down-arrow-icon:hover::before {
  background: url("/icons/down-arrow-icon-red.svg") no-repeat 50%;
}

/* Mobile responsive padding */
@media (width <=1439px) {
  header .header-bar {
    padding: 4px 24px 4px 48px;
  }
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  top: var(--header-bar-height);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-bar-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-bar-height);
  padding: 0 24px;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-bar-height) 'sections sections' 1fr
    'tools tools' var(--nav-bar-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-weight: 500;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
}

@media (width >=900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media (width >=900px) {
  header nav .nav-tools {
    margin-left: auto;
  }
}

header nav .nav-tools .nav-cart-icon {
  padding: 10px 10px 10px 0;
  position: fixed;
  right: 24px;
  top: calc(var(--header-bar-height) + (var(--nav-bar-height) / 2));
  transform: translateY(-50%);
  z-index: 10;
}

@media (width >=900px) {
  header nav .nav-tools .nav-cart-icon {
    right: 0;
  }
}

header nav .nav-tools .nav-cart-icon button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 10px 0 0;
}

header nav .nav-tools .nav-cart-icon button img {
  height: 30px;
  transition: opacity 0.2s ease;
}

header nav .nav-tools .nav-cart-icon button:hover img {
  content: url("/icons/shopping_cart_icon_red.svg");
}

header nav .nav-tools .nav-cart-icon .cart-badge {
  position: absolute;
  background-color: var(--primary-color);
  color: white;
  font-family: TCCC-UnityText, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  right: 1em;
  line-height: normal;
  top: 0.2em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border-color: var(--primary-color);
  border-radius: 10px;
  min-width: 15px;
  min-height: 15px;
  justify-content: center;
  align-items: center;
  padding: 2px 4px !important;
  box-sizing: border-box;
  display: block;
}

/* Header with integrated assetsDashboard-search - always hidden */
header .assetsDashboard-search-hidden {
  width: 0 !important;
  height: 0 !important;
}

header .assetsDashboard-search-hidden .container {
  display: none !important;
}