@font-face {
  font-family: FontAwesome;
  font-display: swap;
  src: url("/fonts/fontawesome-webfont.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TCCC UnityHeadline";
  font-display: swap;
  src: url("/fonts/TCCC-UnityHeadline-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "TCCC UnityHeadline Regular";
  font-display: swap;
  src: url("/fonts/TCCC-UnityText-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "TCCC UnityText Regular";
  font-display: swap;
  src: url("/fonts/TCCC-UnityText-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "TCCC UnityText Bold";
  font-display: swap;
  src: url("/fonts/TCCC-UnityText-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "TCCC UnityText Medium";
  font-display: swap;
  src: url("/fonts/TCCC-UnityText-Medium.ttf") format("opentype");
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #ed0000;
  --primary-color-hover: #d11700;
  --primary-color-active: #bd1500;
  --primary-color-disabled: #ff8c80;
  --secondary-color: #1e1e1e;
}